<!DOCTYPE HTML>
<html>
    <head>
        <title>%title%</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="Stylesheet" type="text/css" href="%root_path%../public/style.css" />
        <!-- blog ico -->
        <link rel="shortcut icon" href="%root_path%../public/images/ruchee.ico" />
    </head>
    <body>
        <center style="font-family: 'Microsoft Yahei', sans-serif; font-size: 1.80em;
            font-weight: normal; color: #FF6600">Ruchee的荒草园子</center><br />
        <center>青春的记忆，童年的回忆，我们的努力</center>


        %content%


        <center  style="font-family: 'Microsoft Yahei'; font-size: small; font-weight: normal; color: #009933">
            Ruchee&nbsp;&copy;&nbsp;2011-2013&nbsp;www.ruchee.com
        </center>

        <!-- For 量子统计 -->
        <script type="text/javascript" src="http://js.tongji.linezing.com/2785323/tongji.js"></script>

    </body>
</html>
